<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>

    <!-- Tailwind is included -->
    <link rel="stylesheet" href="/assets/css/main.css?v=1628755089081" />
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="alert alert-success">Tavar savatchaga qo'shildi!</div>
    <div class="alert alert-warn">Tavar savatchada allaqachon mavjud!</div>
    <div class="alert alert-error">Tavar savatchadan o'chirildi!</div>
    <div id="app">
        <nav id="navbar-main" class="navbar is-fixed-top">
            <div class="navbar-brand">
                <a class="navbar-item mobile-aside-button">
                    <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
                </a>
                <div class="navbar-item">
                    <div class="control">
                        <input placeholder="Search everywhere..." class="input" />
                    </div>
                </div>
            </div>
            <div class="navbar-brand is-right">
                <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
                    <span class="icon"><i class="mdi mdi-dots-vertical mdi-24px"></i></span>
                </a>
            </div>
            <div class="navbar-menu" id="navbar-menu">
                <div class="navbar-end">
                    <a href="/" title="Log out" class="navbar-item desktop-icon-only">
                        <span class="icon"><i class="mdi mdi-logout"></i></span>
                        <span>Log out</span>
                    </a>
                </div>
            </div>
        </nav>
        <aside class="aside is-placed-left is-expanded">
            <div class="aside-tools">
                <div>MU <b class="font-black">Admin</b></div>
            </div>
            <div class="menu is-menu-main">
                <!-- <p class="menu-label">General</p> -->
                <ul class="menu-list">
                    <li class="">
                        <a href="/admin">
                            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                            <span class="menu-item-label">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/news">
                            <span class="icon"><i class="mdi mdi-newspaper-variant-outline"></i></span>
                            <span class="menu-item-label">News</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/admin/events">
                            <span class="icon"><i class="mdi mdi-calendar-star"></i></span>
                            <span class="menu-item-label">Event</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/admin/branchs">
                            <span class="icon">
                                <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M15 9H17V11H15V9M17 5H15V7H17V5M11 15H13V13H11V15M13 5H11V7H13V5M11 11H13V9H11V11M9 5H7V7H9V5M9 9H7V11H9V9M14.55 21H13V17.5H11V21H5V3H19V11.03C19.71 11.09 20.39 11.31 21 11.63V1H3V23H15.91C15.5 22.44 15 21.76 14.55 21M7 19H9V17H7V19M9 13H7V15H9V13M22 16.5C22 19.1 18.5 23 18.5 23S15 19.1 15 16.5C15 14.6 16.6 13 18.5 13S22 14.6 22 16.5M19.7 16.6C19.7 16 19.1 15.4 18.5 15.4S17.3 15.9 17.3 16.6C17.3 17.2 17.8 17.8 18.5 17.8S19.8 17.2 19.7 16.6Z" />
                                </svg>
                            </span>
                            <span class="menu-item-label">Branchs</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/admin/adminssions">
                            <span class="icon">
                                <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M6 3C3.79 3 2 4.79 2 7S3.79 11 6 11 10 9.21 10 7 8.21 3 6 3M6 9C4.9 9 4 8.1 4 7S4.9 5 6 5 8 5.9 8 7 7.1 9 6 9M6 13C3.79 13 2 14.79 2 17S3.79 21 6 21 10 19.21 10 17 8.21 13 6 13M12 5H22V7H12V5M12 19V17H22V19H12M12 11H22V13H12V11Z" />
                                </svg></i></span>
                            <span class="menu-item-label">Adminssions</span>
                        </a>
                    </li>
                </ul>

            </div>
        </aside>


        <section class="is-title-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <ul>
                    <li>Admin</li>
                    <li>Adminssions</li>
                </ul>
            </div>
        </section>

        <section class="is-hero-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <h1 class="title">Adminssions </h1>
            </div>
        </section>

        <section class="section main-section">
            <div class="adminssion_table">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Full name</th>
                            <td><%= adminssion.dataValues.adminssion_user_fullname %></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><%= adminssion.dataValues.adminssion_user_email %></td>
                        </tr>
                        <tr>
                            <th>Phone number</th>
                            <td><%= adminssion.dataValues.adminssion_user_phone %></td>
                        </tr>
                        <tr>
                            <th>Birthdate</th>
                            <td><%= adminssion.dataValues.adminssion_user_birthdate %></td>
                        </tr>
                        <tr>
                            <th>Region</th>
                            <td><%= adminssion.dataValues.adminssion_user_region %></td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td><%= adminssion.dataValues.adminssion_user_address %></td>
                        </tr>
                        <tr>

                        <tr>
                            <th>Branch</th>
                            <td><%= adminssion.dataValues.branch.dataValues.branch_name_eng %></td>
                        </tr>
                        <tr>
                            <th>Grade</th>
                            <td><%= adminssion.dataValues.adminssion_user_grade %></td>
                        </tr>
                        <tr>
                            <th>English degree</th>
                            <td><%= adminssion.dataValues.adminssion_user_english_degree %></td>
                        </tr>

                        <th>Parents full name</th>
                        <td><%= adminssion.dataValues.adminssion_user_partents_fullname %></td>
                        </tr>
                        <tr>
                            <th>Parents phone number</th>
                            <td><%= adminssion.dataValues.adminssion_user_partents_phone %></td>
                        </tr>
                        <tr>
                            <th>User Grade certificate</th>
                            <td>
                                <a class="button small blue"
                                    href="/files/<%= adminssion.adminssion_user_grade_certificate %>"
                                    download="<%= adminssion.adminssion_user_grade_certificate %>">Download</a>
                            </td>
                        </tr>
                        <tr>
                            <th>User Passport</th>
                            <td>
                                <a class="button small blue" href="/files/<%= adminssion.adminssion_user_passport %>"
                                    download="<%= adminssion.adminssion_user_passport %>">Download</a>
                            </td>
                        </tr>

                        <tr>
                            <th>User Parents Passport</th>
                            <td>
                                <a class="button small blue"
                                    href="/files/<%= adminssion.adminssion_user_partents_passport %>"
                                    download="<%= adminssion.adminssion_user_partents_passport %>">Download</a>
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>


        </section>

        <footer class="footer">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
                <div class="flex items-center justify-start space-x-3">
                    <div>© 2021, MU.uz</div>
                </div>
            </div>
        </footer>



    </div>

    </div>

    <!-- Scripts below are for demo only -->
    <script type="text/javascript" src="/assets/js/main.min.js?v=1628755089081"></script>
    <script src="/assets/fetchReqsJs/adminAdminssion.js"></script>


    <!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css" />
</body>

</html>