<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>

    <!-- Tailwind is included -->
    <link rel="stylesheet" href="/assets/css/main.css?v=1628755089081" />
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#00b4b6" />
  </head>
  <body>
    <div id="app">
      <nav id="navbar-main" class="navbar is-fixed-top">
        <div class="navbar-brand">
          <a class="navbar-item mobile-aside-button">
            <span class="icon"
              ><i class="mdi mdi-forwardburger mdi-24px"></i
            ></span>
          </a>
          <div class="navbar-item">
            <div class="control">
              <input placeholder="Search everywhere..." class="input" />
            </div>
          </div>
        </div>
        <div class="navbar-brand is-right">
          <a
            class="navbar-item --jb-navbar-menu-toggle"
            data-target="navbar-menu"
          >
            <span class="icon"
              ><i class="mdi mdi-dots-vertical mdi-24px"></i
            ></span>
          </a>
        </div>
        <div class="navbar-menu" id="navbar-menu">
          <div class="navbar-end">
            <a href="/" title="Log out" class="navbar-item desktop-icon-only">
              <span class="icon"><i class="mdi mdi-logout"></i></span>
              <span>Log out</span>
            </a>
          </div>
        </div>
      </nav>

      <aside class="aside is-placed-left is-expanded">
        <div class="aside-tools">
          <div>MU <b class="font-black">Admin</b></div>
        </div>
        <div class="menu is-menu-main">
          <!-- <p class="menu-label">General</p> -->
          <ul class="menu-list">
            <li class="">
              <a href="/admin">
                <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                <span class="menu-item-label">Dashboard</span>
              </a>
            </li>
            <li class="active">
              <a href="/admin/news">
                <span class="icon"
                  ><i class="mdi mdi-newspaper-variant-outline"></i
                ></span>
                <span class="menu-item-label">News</span>
              </a>
            </li>
            <li class="">
              <a href="/admin/events">
                <span class="icon"><i class="mdi mdi-calendar-star"></i></span>
                <span class="menu-item-label">Event</span>
              </a>
            </li>
            <li class=""> 
              <a href="/admin/branch">
                <span class="icon">
                  <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M15 9H17V11H15V9M17 5H15V7H17V5M11 15H13V13H11V15M13 5H11V7H13V5M11 11H13V9H11V11M9 5H7V7H9V5M9 9H7V11H9V9M14.55 21H13V17.5H11V21H5V3H19V11.03C19.71 11.09 20.39 11.31 21 11.63V1H3V23H15.91C15.5 22.44 15 21.76 14.55 21M7 19H9V17H7V19M9 13H7V15H9V13M22 16.5C22 19.1 18.5 23 18.5 23S15 19.1 15 16.5C15 14.6 16.6 13 18.5 13S22 14.6 22 16.5M19.7 16.6C19.7 16 19.1 15.4 18.5 15.4S17.3 15.9 17.3 16.6C17.3 17.2 17.8 17.8 18.5 17.8S19.8 17.2 19.7 16.6Z" />
                </svg>
                </span>
                <span class="menu-item-label">Branchs</span>
              </a>
            </li>
            <li class="">
              <a href="/admin/adminssions">
                <span class="icon"
                  >
                  <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M6 3C3.79 3 2 4.79 2 7S3.79 11 6 11 10 9.21 10 7 8.21 3 6 3M6 9C4.9 9 4 8.1 4 7S4.9 5 6 5 8 5.9 8 7 7.1 9 6 9M6 13C3.79 13 2 14.79 2 17S3.79 21 6 21 10 19.21 10 17 8.21 13 6 13M12 5H22V7H12V5M12 19V17H22V19H12M12 11H22V13H12V11Z" />
                </svg></i
                ></span>
                <span class="menu-item-label">Adminssions</span>
              </a>
            </li>
          </ul>
 
        </div>
      </aside>

      <section class="is-title-bar">
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
        >
          <ul>
            <li>Admin</li>
            <li>News</li>
          </ul>
        </div>
      </section>

      <section class="is-hero-bar">
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
        >
          <h1 class="title">News list</h1>
          <button
            class="button light --jb-modal"
            type="button"
            data-target="sample-modal-create"
          >
            Create new
          </button>
        </div>
      </section>
      <% var news = news || [] %>
      <section class="section main-section">
        <div class="card-content">
          <table>
            <thead>
              <tr>
                <th class="image-cell"></th>
                <th>News title</th>
                <th>News subtitle</th>
                <th>Created</th>
                <th>Edit && Delete</th>
              </tr>
            </thead>
            <tbody>
              <% if(news.length > 0) { %> 
              <% news.forEach(function(item) { %>
              <tr>
                <td class="image-cell">
                  <div class="image">
                    <img
                      src="/files/<%= item.new_image %>"
                      class="rounded"
                    />
                  </div>
                </td>
                <td data-label="Nomi" class="new title">
                  <%= item.new_title_eng %>
                </td>
                <td data-label="Kodi" class="new subtitle">
                  <%= item.new_subtitle_eng %>
                </td>

                <td data-label="Created">
                  <small class="text-gray-500" title="Oct 25, 2021">
                    <%= moment(item.createdAt).locale('uz-latn').format("LLL")%> 
                  </small>
                </td>
                <td class="actions-cell">
                  <div class="buttons right nowrap">
                    <button data-news = "<%= JSON.stringify(item) %>"  class="edit_btn button small green --jb-modal" data-target="sample-modal-2"
                      type="button">
                      <span class="icon"><i class="mdi mdi-pencil-outline"></i></span>
                  </button>
                  <button data-new_id = "<%= item.new_id %>" class="delete_btn button small red --jb-modal" data-target="sample-modal"
                      type="button">
                      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                  </button>
                  </div>
                </td>
              </tr>
              <% }) %>
              <% } else { %>
              <tr>
                <td colspan="5" class="text-center" style="text-align: center;">
                  <h3>No news found</h3>
                </td>
              </tr>
              <% } %> 
            </tbody>
          </table>
          <div class="table-pagination">
            <div class="flex items-center justify-between">
              <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                <nav aria-label="Table navigation">
                  <ul class="inline-flex items-center" class="buttons" style="display: flex;">
                    <li>
                      <a class="button" href = "/admin/product?offset=<%= offset %>" class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                        aria-label="Previous">
                       <
                      </a>
                    </li>
                    <% for(var i = 1; i <= count; i++) {%> 
                    <li>
                      <a class="button" href= "/admin/product?offset=<%= i %>" 
                        <% if(offset === i-1) {%> 
                          class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple"
                        <% } else { %> 
                          class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                        <% } %> >
                        <%= i %>
                      </a>
                    </li>
                    <% } %> 
                    <li>
                      <a class="button" href = "/admin/product?offset=<%= offset+2 %>" class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                        aria-label="Next">
                       >
                      </a>
                    </li>
                  </ul>
                </nav>
              </span>

                <small>Page <%= offset %> of <%= count %></small>
            </div>
        </div>
        </div>
      </section>

      <footer class="footer">
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
        >
          <div class="flex items-center justify-start space-x-3">
            <div>© 2021, MU.uz</div>
          </div>
        </div>
      </footer>
      <div id="sample-modal" class="modal">
        <div class="modal-background --jb-modal-close"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Delete product</p>
          </header>
          <section class="modal-card-body">
            <h1>Productni o'chirishni tasdiqlang!</h1>
          </section>
          <footer class="modal-card-foot">
            <button class="button --jb-modal-close">Cancel</button>
            <button class="delete__btn__modal button red --jb-modal-close">Delete</button>
          </footer>
        </div>
      </div>

      <div id="sample-modal-create" class="modal">
        <div class="modal-background --jb-modal-close"></div>
        <div class="modal-card" style="overflow-y: auto">
          <form class="create__news__form">
            <header class="modal-card-head">
              <h3 class="">Create new</h3>
            </header>
            <section class="modal-card-body">
              <div class="alert">
                <p class="alert__danger"></p>
                <p class="alert__success"></p>
              </div>
              <div class="field">
                <label class="label">Uzbek title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_title_uz"
                        placeholder="Uzbek title"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Russion title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_title_ru"
                        placeholder="Russion title"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">English title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_title_eng"
                        placeholder="English title"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>

              <hr>

              <div class="field">
                <label class="label">Uzbek subtitle</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_subtitle_uz"
                        placeholder="Uzbek subtitle"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Russion title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_subtitle_ru"
                        placeholder="Russion subtitle"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">English title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_subtitle_eng"
                        placeholder="English subtitle"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              
           

              <div class="field">
                <label class="label">News content Uzbek</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="News content Uzbek"
                    name="new_content_uz"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">News content Russion</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="News content Russion"
                    name="new_content_ru"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">News content English</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="News content English"
                    name="new_content_eng"
                    required
                  ></textarea>
                </div>
              </div>

              <div class="field">
                <label class="label">News images</label>
                <div class="field-body">
                  <div class="field file">
                    <label class="upload control" style="width: 100%">
                      <a class="button light" style="width: 100%"> Upload </a>
                      <input
                        type="file"
                        name="new_image"
                        style="width: 100%"
                        required
                        multiple
                      />
                    </label>
                  </div>
                </div>
              </div>
              <!-- <hr> -->
            </section>
            <footer class="modal-card-foot">
              <button type="button" class="button --jb-modal-close">
                Cancel
              </button>
              <button type="submit" class="button green">Submit</button>
            </footer>
          </form>
        </div>
      </div>

      <div id="sample-modal-2" class="modal">
        <div class="modal-background --jb-modal-close"></div>
        <div class="modal-card" style="overflow-y: auto">
          <form class="edit__news__form">
            <header class="modal-card-head">
              <h3 class="">Edit news</h3>
            </header>
            <section class="modal-card-body">
              <div class="alert">
                <p class="alert__danger"></p>
                <p class="alert__success"></p>
              </div>
              <div class="field">
                <label class="label">Uzbek title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_title_uz"
                        placeholder="Uzbek title"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Russion title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_title_ru"
                        placeholder="Russion title"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">English title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_title_eng"
                        placeholder="English title"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>

              <hr>

              <div class="field">
                <label class="label">Uzbek subtitle</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_subtitle_uz"
                        placeholder="Uzbek subtitle"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Russion title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_subtitle_ru"
                        placeholder="Russion subtitle"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">English title</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control icons-left">
                      <input
                        class="input"
                        type="text"
                        name="new_subtitle_eng"
                        placeholder="English subtitle"
                        required

                      />
                      <span class="icon left"
                        ><i class="mdi mdi-format-title"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              
           

              <div class="field">
                <label class="label">News content Uzbek</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="News content Uzbek"
                    name="new_content_uz"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">News content Russion</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="News content Russion"
                    name="new_content_ru"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">News content English</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="News content English"
                    name="new_content_eng"
                    required
                  ></textarea>
                </div>
              </div>

              <div class="field">
                <label class="label">News images</label>
                <div class="field-body">
                  <div class="field file">
                    <label class="upload control" style="width: 100%">
                      <a class="button light" style="width: 100%"> Upload </a>
                      <input
                        type="file"
                        name="new_image"
                        style="width: 100%"
                        required
                        multiple
                      />
                    </label>
                  </div>
                </div>
              </div>
              <!-- <hr> -->
            </section>
            <footer class="modal-card-foot">
              <button type="button" class="button --jb-modal-close">
                Cancel
              </button>
              <button type="submit" class="button green">Submit</button>
            </footer>
          </form>
        </div>
      </div>
    </div>

    <!-- Scripts below are for demo only -->
    <script
      type="text/javascript"
      src="/assets/js/main.min.js?v=1628755089081"
    ></script>

    <script src="/assets/fetchReqsJs/news.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
    />
  </body>
</html>
