<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Muschool - Millat Umidi xalqaro maktabi</title>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./assets/style/main.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel = "icon" type = "image/png" href = "./assets/images/metaicon.png">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="robots" content="index, follow">
    <meta name="title" content="Muschool - Millat Umidi xalqaro maktabi">
    <meta name="description" content="Muschool - Millat Umidi xalqaro maktabi">
    <meta name="keywords" content="Millat umidi, Millat umidi school, xalqaro maktab, xususiy maktab, Umidjon Ishmuhammedov, o'zbekiston xalqaro maktab, o'zbekiston xususiy maktab, eng yaxshi maktab, kollej, maktab,  международная школа, международная школа Узбекистана, Частная школа Узбекистана, лучшая школа, школа, частная школа">
    <meta name="twitter:title" content="Muschool – Millat Umidi xalqaro maktabi">
    <meta name="twitter:description" content="Muschool – Millat Umidi xalqaro maktabi">
    <meta property="og:url" content="https://muschool.uz/">
    <meta property="og:site_name" content="Muschool">
    <meta property="og:locale" content="uz_Uz">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Muschool – Millat Umidi xalqaro maktabi. ">
    <meta property="og:description" content="Muschool – Millat Umidi xalqaro maktabi">
    <meta name="twitter:card" content="summary">
    <meta name="google-site-verification" content="TFXtds33aSWMotB5OsFtINR0lzKaQRN3qKL1gROZpdM" />
</head>

<body>
    <!-- <h1>Muschool – Millat Umidi xalqaro maktabi</h1> -->
    <h1 style="display: none;">Muschool – Millat Umidi xalqaro maktabi</h1>

    <div class="loader_wrapper">
        <div class="loading2">
        </div>
        <img src="./assets/images/logo_body.png" alt="logo" class="logo">
    </div>

    <nav class="">
        <div class="navbar container d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="#">
                    <img src="../assets/images/logo-dark.png" alt="logo" />
                </a>
            </div>
            <ul class="navbar__list d-flex align-items-center justify-content-between">
                <li class="navbar__list__item mx-3 active">
                    <a href="/">
                        <%= HomeLanguages.navbar.navbar__list.navbar__list__item1[lan] %>
                    </a>
                </li>
                <li class="navbar__list__item mx-3">
                    <a href="/about">
                        <%= HomeLanguages.navbar.navbar__list.navbar__list__item2[lan] %>
                    </a>
                </li>
                <li class="navbar__list__item mx-3">
                    <a href="/life">
                        <%= HomeLanguages.navbar.navbar__list.navbar__list__item3[lan] %>
                    </a>
                </li>
                <li class="navbar__list__item mx-3">
                    <a href="/admission">
                        <%= HomeLanguages.navbar.navbar__list.navbar__list__item4[lan] %>
                    </a>
                </li>
                <li class="navbar__list__item mx-3">
                    <a href="/locations">
                        <%= HomeLanguages.navbar.navbar__list.navbar__list__item5[lan] %>
                    </a>
                </li>
            </ul>
            <ul class="navbar__right d-flex align-items-center">
         
                <li class="navbar__right__item">
                    <a href="tel:+998 71 200 0308">
                        <img src="/assets/images/icons/phone_icon.svg" alt="phone_icon">
                    </a>
                </li>
                <li class="navbar__right__item">
                    <select name="lan" id="lan">
                        <option value="eng"  <% if(lan === "eng") { %> selected <% } %>>Eng</option>
                        <option value="uz" <% if(lan === "uz") { %> selected <% } %>>Uz</option>
                        <option value="ru" <% if(lan === "ru") { %> selected <% } %>>Ru</option>
                    </select>
                </li>
                <li class="navbar__right__item">
                    <button class="menu_btn">
                        <div class="wrapper-menu">
                            <div class="line-menu half start"></div>
                            <div class="line-menu"></div>
                            <div class="line-menu half end"></div>
                        </div>
                    </button>
                </li>
            </ul>
        </div>

        <div class="menu__section row justify-content-between">
            <ul class="menu__section__list col-lg-3">
                <li class="menu__section__list__item active">
                    <a href="" class="d-flex justify-content-start align-items-center ">
                        <span>
                            <%= HomeLanguages.navbar.navbar__list.navbar__list__item1[lan] %>
                        </span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
                <li class="menu__section__list__item">
                    <a href="about" class="d-flex justify-content-start align-items-center ">
                    <span>
                        <%= HomeLanguages.navbar.navbar__list.navbar__list__item2[lan] %>
                    </span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
                <li class="menu__section__list__item">
                    <a href="/admission" class="d-flex justify-content-start align-items-center ">

                    <span>
                        <%= HomeLanguages.navbar.navbar__list.navbar__list__item3[lan] %>
                    </span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
                <li class="menu__section__list__item">
                    <a href="life" class="d-flex justify-content-start align-items-center ">

                    <span>
                        <%= HomeLanguages.navbar.navbar__list.navbar__list__item4[lan] %>
                    </span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
                <li class="menu__section__list__item d-flex justify-content-start align-items-center">
                    <a href="locations" class="d-flex justify-content-start align-items-center ">

                    <span><%= HomeLanguages.navbar.navbar__list.navbar__list__item5[lan] %></span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
            </ul>
            <div class="contacts col-lg-3">
                <div class="admission__section">
                    <h3 class="admission__section__title">
                        <%= HomeLanguages.admission.admission_title[lan] %>
                    </h3>
                    <button class="btn">
                        <img src="./assets/images/icons/apply_icon.svg" alt="icon">
                        <span>
                            <%= HomeLanguages.admission.apply_btn[lan] %>
                        </span>
                    </button>
                </div>
                <h3>Contact Us</h3>
                <ul class="contacts__list">
                    <li class="contacts__list__item d-flex justify-content-left align-items-center">
                        <img src="./assets/images/icons/email_icon.svg" alt="message icon">
                        <span>info@muschool.uz </span>
                    </li>
                    <li class="contacts__list__item d-flex justify-content-left align-items-center">
                        <img src="./assets/images/icons/phone_icon.svg" alt="phoone icon">
                        <span>+998 71 200 0308 || 99 462 40 04</span>
                    </li>
                    <% var branchs = branchs || [] %>
                    <% branchs.forEach(function(item){ %>
                        <li class="contacts__list__item d-flex justify-content-left align-items-center">
                            <img src="./assets/images/icons/location_icon.svg" alt="location_icon">
                            <span>
                                <% if(lan === "eng") { %> 
                                    <%= item.branch_name_eng %>
                                <% } %>
                                <% if(lan === "ru") { %> 
                                    <%= item.branch_name_ru %>
                                <% } if(lan === "uz") {%>
                                    <%= item.branch_name_uz %>
                                <% } %> 
                            </span>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="socials__list col-lg-1">
                <h3>Contact with us</h3>
                <ul class="d-lg-block d-flex">
                    <li>
                        <a href="https://www.facebook.com/cicschooluz/">
                            <img src="./assets/images/icons/facebook.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/cic_school/?igshid=YmMyMTA2M2Y=">
                            <img src="./assets/images/icons/instagram.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/cic_school">
                            <img src="./assets/images/icons/telegram.svg" alt="icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <header>
        <div class="swiper headerSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <video autoplay muted loop id="myVideo">
                        <source src="./assets/videos/headermain.mp4" type="video/mp4">
                    </video>
                    <!-- <img class="headerImg" src="./assets/images/landing-header.jpg" alt="header"> -->

                    <div class="header container ">
                        <div class="header__content">
                            <h2 class="header__content__title">
                                <%= HomeLanguages.header.header1.title[lan] %>
                            </h2>
                            <ul class="header__content__list">
                                <li class="header__content__list__item">
                                    <img src="/assets/images/icons/check_icon.svg" class="icon" alt="check">
                                    <span>
                                        <%= HomeLanguages.header.header1.header_list.header_list__item1[lan] %>
                                    </span>
                                </li>
                                <li class="header__content__list__item">
                                    <img src="/assets/images/icons/check_icon.svg" class="icon" alt="check">
                                    <span>
                                        <%= HomeLanguages.header.header1.header_list.header_list__item2[lan] %>
                                    </span>
                                </li>
                                <li class="header__content__list__item">
                                    <img src="/assets/images/icons/check_icon.svg" class="icon" alt="check">
                                    <span>
                                        <%= HomeLanguages.header.header1.header_list.header_list__item3[lan] %>
                                    </span>
                                </li>
                            </ul>
                            <button class="header__content__btn">
                                <img src="/assets/images/icons/play_icon.svg" alt="play_icon">
                                <span>
                                    <%= HomeLanguages.header.header_about_btn[lan] %>
                                </span>
                            </button>
                        </div>
                        <div class="header__right__section">
                            <h2 class="header__right__section__title">
                                <%= HomeLanguages.admission.admission_title[lan] %>
                            </h2>
                            <p><%= HomeLanguages.admission.admission_subtitle[lan] %></p>
                            <a href="/admission#admission" class="apply__btn">
                                <img src="/assets/images/icons/apply_icon.svg" alt="apply__btn">
                                <span>
                                    <%= HomeLanguages.admission.apply_btn[lan] %>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="close__video__btn">
                        <img src="./assets/images/icons/close-line (3) 1.svg" alt="close icon">
                        <span><%= HomeLanguages.header.close_btn[lan] %></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <video autoplay muted loop id="myVideo">
                        <source src="./assets/videos/headermain.mp4" type="video/mp4">
                    </video>
                    <div class="header container">
                        <div class="header__content">
                            <h2 class="header__content__title">
                                <%= HomeLanguages.header.header2.title[lan] %>
                            </h2>
                            <ul class="header__content__list">
                                <li class="header__content__list__item">
                                    <img src="/assets/images/icons/check_icon.svg" class="icon" alt="check">
                                    <span>
                                        <%= HomeLanguages.header.header2.header_list.header_list__item1[lan] %>
                                    </span>
                                </li>
                                <li class="header__content__list__item">
                                    <img src="/assets/images/icons/check_icon.svg" class="icon" alt="check">
                                    <span>
                                        <%= HomeLanguages.header.header2.header_list.header_list__item2[lan] %>
                                    </span>
                                </li>
                                <li class="header__content__list__item">
                                    <img src="/assets/images/icons/check_icon.svg" class="icon" alt="check">
                                    <span>
                                        <%= HomeLanguages.header.header2.header_list.header_list__item3[lan] %>
                                    </span>
                                </li>
                            </ul>
                            <button class="header__content__btn">
                                <img src="/assets/images/icons/play_icon.svg" alt="play_icon">
                                <span>
                                    <%= HomeLanguages.header.header_about_btn[lan] %>
                                </span>
                            </button>
                        </div>
                        <div class="header__right__section">
                            <h2 class="header__right__section__title">
                                <%= HomeLanguages.admission.admission_title[lan] %>
                            </h2>
                            <p><%= HomeLanguages.admission.admission_subtitle[lan] %></p>
                            <a href="/admission#admission" class="apply__btn">
                                <img src="/assets/images/icons/apply_icon.svg" alt="apply__btn">
                                <span>
                                    <%= HomeLanguages.admission.apply_btn[lan] %>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="close__video__btn">
                        <img src="./assets/images/icons/close-line (3) 1.svg" alt="close icon">
                        <span><%= HomeLanguages.header.close_btn[lan] %></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <video autoplay muted loop id="myVideo">
                        <source src="./assets/videos/headermain.mp4" type="video/mp4">
                    </video>
                    <div class="header container">
                        <div class="header__content">
                            <h2 class="header__content__title">
                                <%= HomeLanguages.header.header3.title[lan] %>
                            </h2>
                            <li class="header__content__list__item">
                                <img src="/assets/images/icons/check_icon.svg" class="icon" alt="check">
                                <span>
                                    <%= HomeLanguages.header.header3.header_list.header_list__item1[lan] %>
                                </span>
                            </li>
                            <li class="header__content__list__item">
                                <img src="/assets/images/icons/check_icon.svg" class="icon" alt="check">
                                <span>
                                    <%= HomeLanguages.header.header3.header_list.header_list__item2[lan] %>
                                </span>
                            </li>
                            <li class="header__content__list__item">
                                <img src="/assets/images/icons/check_icon.svg" class="icon" alt="check">
                                <span>
                                    <%= HomeLanguages.header.header3.header_list.header_list__item3[lan] %>
                                </span>
                            </li>
                        </ul>
                            <button class="header__content__btn">
                                <img src="/assets/images/icons/play_icon.svg" alt="play_icon">
                                <span>
                                    <%= HomeLanguages.header.header_about_btn[lan] %>
                                </span>
                            </button>
                        </div>
                        <div class="header__right__section">
                            <h2 class="header__right__section__title">
                                <%= HomeLanguages.admission.admission_title[lan] %>
                            </h2>
                            <p><%= HomeLanguages.admission.admission_subtitle[lan] %></p>
                            <a href="/admission#admission" class="apply__btn">
                                <img src="/assets/images/icons/apply_icon.svg" alt="apply__btn">
                                <span>
                                    <%= HomeLanguages.admission.apply_btn[lan] %>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="close__video__btn">
                        <img src="./assets/images/icons/close-line (3) 1.svg" alt="close icon">
                        <span><%= HomeLanguages.header.close_btn[lan] %></span>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>

        </div>
    </header>

    <section class="news container" id="news" data-aos="fade-up">
        <div class="news__title">
            <h2>
                <%= HomeLanguages.news.news_title[lan] %>
            </h2>
        </div>
        <% var lastNews = lastNews || [] %> 
        <ul class="news__list container" >
            <div class="swiper newsSwiper">
                <div class="swiper-wrapper">
                    <% lastNews.forEach(function(element) { %>
                    <a href="/news/<%= element.new_slug %>" class="swiper-slide">
                        <div class="news__item">
                            <div class="background__image">
                                <img src="/files/<%= element.new_image %>" alt="image">
                            </div>
                            <div class="news__data">
                                <h3 class="title">
                                    <% if(lan === "uz") {%>
                                    <%= element.new_title_uz %>
                                    <% } if(lan === "ru") { %>
                                    <%= element.new_title_ru %>
                                    <% } else {%>
                                    <%= element.new_title_eng %>
                                    <% } %>
                                </h3>
                                <hr class="line">
                                </hr>
                                <p class="subtitle">
                                    <% if(lan === "uz") {%>
                                        <%= element.new_subtitle_uz %>
                                        <% } if(lan == "ru") { %>
                                        <%= element.new_subtitle_ru %>
                                        <% } else {%>
                                        <%= element.new_subtitle_eng %>
                                        <% } %>
                                </p>
                            </div>
                            <span class="created__data">
                                <h4><%= moment( element.createdAt).format('d'); %></h4>
                                <p> <%= moment( element.createdAt).format('MMM YYYY'); %> </p>
                            </span>
                        </div>
                    </a>
                    <% }); %>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </ul>
    </section> 
    
 
    <section class="facilities" id="facilities" data-aos="fade-up">
        <div class="facilities__image">
            <img src="./assets/images/landing-header.jpg" alt="">
        </div>
        <div class="facilities__accardion__section container">
            <div class="accardion__data">
                <div class="accardion">
                    <button class="course-accordion active">
                        <span class="circle"></span>
                        <%= HomeLanguages.facilities.facilities_list.facilities_list__item1.title[lan] %>
                    </button>
                    <div class="course-panel row justify-content-between align-items-center" style="max-height: 100%;">
                        <p class="col-lg-6 col-12">
                            <%= HomeLanguages.facilities.facilities_list.facilities_list__item1.content[lan] %>
                        </p>
                        <div id="video" class="col-lg-6 col-12">
                            <video class="col-lg-12" controls>
                                <source src="./assets/videos/header2.mp4" type="video/mp4">
                            </video>
                            <div class="logo">
                                <img src="./assets/images/logo-light.png" alt="">
                            </div>
                        </div>
                    </div>
                    <button class="course-accordion">
                        <span class="circle"></span>
                        <%= HomeLanguages.facilities.facilities_list.facilities_list__item2.title[lan] %>
                    </button>
                    <div class="course-panel row justify-content-between align-items-center">
                        <p class="col-lg-6">
                            <%= HomeLanguages.facilities.facilities_list.facilities_list__item2.content1[lan] %>
                            <br><br>
                            <%= HomeLanguages.facilities.facilities_list.facilities_list__item2.content2[lan] %>
                        </p>
                        <div id="video" class="col-lg-6 col-12">
                            <video class="col-lg-12" controls>
                                <source src="./assets/videos/header2.mp4" type="video/mp4">
                            </video>
                            <div class="logo">
                                <img src="./assets/images/logo-light.png" alt="">
                            </div>
                        </div>
                    </div>
                    <button class="course-accordion">
                        <span class="circle"></span>
                        <%= HomeLanguages.facilities.facilities_list.facilities_list__item3.title[lan] %>
                    </button>
                    <div class="course-panel row justify-content-between align-items-center">
                        <p class="col-lg-6">
                            <%= HomeLanguages.facilities.facilities_list.facilities_list__item3.content[lan] %>
                            <br>
                        </p>
                        <div id="video" class="col-lg-6 col-12">
                            <video class="col-lg-12" controls>
                                <source src="./assets/videos/header2.mp4" type="video/mp4">
                            </video>
                            <div class="logo">
                                <img src="./assets/images/logo-light.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="statistics" id="statistics" data-aos="fade-up">
        <div class="container">
            <ul class="statistics__list row d-flex align-content-between align-content-center">
                <li class="statistics__list__item col-lg-4">
                    <h4 class="statistics__list__item__count counter" data-target="2021">
                        0
                    </h4>
                    <p class="statistics__list__item__name">
                        <%= HomeLanguages.statistics.title1[lan] %>
                    </p>
                </li>
                <li class="statistics__list__item col-lg-4">
                    <h4 class="statistics__list__item__count counter" data-target="28">
                        0
                    </h4>
                    <p class="statistics__list__item__name">
                        <%= HomeLanguages.statistics.title2[lan] %>
                    </p>
                </li>
                <li class="statistics__list__item col-lg-4">
                    <h4 class="statistics__list__item__count counter" data-target="275">
                        0
                    </h4>
                    <p class="statistics__list__item__name">
                        <%= HomeLanguages.statistics.title3[lan] %>
                    </p>
                </li>
            </ul>
        </div>
    </section>


    <section class="future-here" id="admission" data-aos="fade-up">
        <img class="myImgBg" src="./assets/images/camilo-botia-k4vFDPJoDZk-unsplash.jpg" alt="img">
        <div class="container">
            <div class="future-here__content">
                <h2 class="future-here__content__title">
                    <%= HomeLanguages.future_here.title[lan] %>
                </h2>
                <h4 class="future-here__content__subtitle">
                    <%= HomeLanguages.future_here.subtitle[lan] %>
                </h4>
                <div class="future-here__content__admission">
                    <h3 class="future-here__content__admission__title">
                        <%= HomeLanguages.admission.admission_title[lan] %>
                    </h3>
                    <h5 class="future-here__content__admission__subtitle">
                        <p><%= HomeLanguages.admission.admission_subtitle[lan] %></p>
                    </h5>
                    <a href="/admission#admission" class="apply__btn">
                        <img src="/assets/images/icons/apply_icon.svg" alt="apply__btn">
                        <span>
                            <%= HomeLanguages.admission.apply_btn[lan] %>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="compus" id="compus" data-aos="fade-up">
        <div class="container">
            <div class="compus__content active">
                <h2 class="compus__content__title">
                    <%= HomeLanguages.compus.item1.title[lan] %>
                </h2>
                <p>
                    <%= HomeLanguages.compus.item1.content[lan] %>
                </p>
                <button class="btn btn_read_more" >
                    <span>Read More</span>
                    <img src="./assets/images/icons/arrow_right.svg" alt="arrow">
                </button>
            </div>
            <div class="compus__content__more">
                <h2 class="compus__content__more__title">
                     
                    <%= HomeLanguages.compus.item2.title[lan] %>

                </h2>
                <p>
                    <%= HomeLanguages.compus.item2.content[lan] %>
                </p>
                <button class="btn btn_back" >
                    <img src="./assets/images/icons/arrow_right.svg" alt="arrow">
                    <span>Back</span>
                </button>
            </div>
        </div>
    </section> 

    <section class="student-portfolios" id="studentportfolio" data-aos="fade-up">
        <div class="">
            <div class="gallery-wrap row d-flex">
                <div class="item item-1 col-xl-3 col-md-6 col-12">
                    <div class="item__content">
                        <h2 class="title">
                            <%= HomeLanguages.student_portfolio.item1.title[lan] %>
                        </h2>
                        <p class="content">
                            <%= HomeLanguages.student_portfolio.item1.content[lan] %>
                        </p>
                    </div>
                </div>
                <div class="item item-2 col-xl-3 col-md-6 col-12">
                    <div class="item__content">
                        <div class="title">
                            <span>
                                <img src="./assets/images/icons/scolor_icon.svg" alt="scolorship icon">
                            </span>
                            <h4>                            
                            <%= HomeLanguages.student_portfolio.item2.title[lan] %>
                            </h4>
                        </div>
                        <p class="content">
                            <%= HomeLanguages.student_portfolio.item2.content[lan] %>
                        </p>
                    </div>
                </div>
                <div class="item item-3 col-xl-3 col-md-6 col-12">
                    <div class="item__content">

                        <div class="title">
                            <span>
                                <img src="./assets/images/icons/book_icon.svg" alt="scolorship icon">
                            </span>
                            <h4>
                                <%= HomeLanguages.student_portfolio.item3.title[lan] %>
                            </h4>
                        </div>
                        <p class="content">
                            <%= HomeLanguages.student_portfolio.item3.content[lan] %>
                        </p>
                    </div>
                </div>
                <div class="item item-4 col-xl-3 col-md-6 col-12">
                    <div class="item__content">

                        <div class="title">
                            <span>
                                <img src="./assets/images/icons/save_icon.svg" alt="scolorship icon">
                            </span>
                            <h4>
                                <%= HomeLanguages.student_portfolio.item4.title[lan] %>
                            </h4>
                        </div>
                        <p class="content">
                            <%= HomeLanguages.student_portfolio.item4.content[lan] %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section class="school__accardion container" id="whymillatumidischool" data-aos="fade-up">   
        <div class="school__accardion__title">
            <h2>
                <%= HomeLanguages.school_accardion.title[lan] %>
            </h2>
        </div>
        <div class="row align-content-center">
            <div class="school__accardion__data col-lg-6">
                <button class="course-accordion">
                    <%= HomeLanguages.school_accardion.accardion1.title[lan] %>
                </button>
                <div class="course-panel row justify-content-between align-items-center">
                    <p class="col-lg-6">
                        <%= HomeLanguages.school_accardion.accardion1.contnet[lan] %>
                    </p>
                </div>

                <button class="course-accordion">
                    <%= HomeLanguages.school_accardion.accardion2.title[lan] %>
                </button>
                <div class="course-panel row justify-content-between align-items-center">
                    <p class="col-lg-6">
                        <%= HomeLanguages.school_accardion.accardion2.contnet[lan] %>
                    </p>
                </div>

                <button class="course-accordion">
                    <%= HomeLanguages.school_accardion.accardion3.title[lan] %>
                </button>
                <div class="course-panel row justify-content-between align-items-center">
                    <p class="col-lg-6">
                        <%= HomeLanguages.school_accardion.accardion3.contnet[lan] %>
                    </p>
                </div>

                <button class="course-accordion">
                    <%= HomeLanguages.school_accardion.accardion4.title[lan] %>
                </button>
                <div class="course-panel row justify-content-between align-items-center">
                    <p class="col-lg-6">
                        <%= HomeLanguages.school_accardion.accardion4.contnet[lan] %>
                    </p>
                </div>

                <button class="course-accordion">
                    <%= HomeLanguages.school_accardion.accardion5.title[lan] %>
                </button>
                <div class="course-panel row justify-content-between align-items-center">
                    <p class="col-lg-6">
                        <%= HomeLanguages.school_accardion.accardion5.contnet[lan] %>
                    </p>
                </div>

                <button class="course-accordion">
                    <%= HomeLanguages.school_accardion.accardion6.title[lan] %>
                </button>
                <div class="course-panel row justify-content-between align-items-center">
                    <p class="col-lg-6">
                        <%= HomeLanguages.school_accardion.accardion6.contnet[lan] %>
                    </p>
                </div>
            </div>
            <div class="school__accardion__admission col-lg-6">
                <h3 class="school__accardion__admission__title">
                    <%= HomeLanguages.admission.admission_title[lan] %>

                </h3>
                <h5 class="school__accardion__admission__subtitle">
                    <%= HomeLanguages.admission.admission_subtitle[lan] %>
                </h5>
                <div class="arrow__bottom">
                    <img src="./assets/images/icons/arrow__bottom__icon.svg" alt="arrow">
                </div>
                <a href="/admission#admission" class="apply__btn">
                    <img src="/assets/images/icons/apply_icon.svg" alt="apply__btn">
                    <span>
                        <%= HomeLanguages.admission.apply_btn[lan] %>
                    </span>
                </a>
            </div>
        </div>

    </section>
  

    <section class="partners" id="partners" data-aos="fade-up">
        <div class="container">
            <div class="partners__title">
                <h2>
                    <%= HomeLanguages.partners.title[lan] %>
                </h2>
                <p>Our best parnerships download and distribute with our compliments</p>
            </div>
            <div class="partners__list">
                <div class="swiper mySwiperPartners">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <img src="./assets/images/partners/CIU_logo.png" alt="university logo">
                      </div>
                      <div class="swiper-slide">
                        <img src="./assets/images/partners/TEAM.png" alt="university logo">
                      </div>
                      <div class="swiper-slide">
                        <img src="./assets/images/partners/AKFA.png" alt="university logo">
                      </div>
                      <div class="swiper-slide">                          
                          <img src="./assets/images/partners/PEARSON.png" alt="university logo">
                      </div>
                      <div class="swiper-slide">
                        <img src="./assets/images/partners/TPU.png" alt="university logo">
                      </div>
                      <div class="swiper-slide">
                        <img src="./assets/images/partners/CIU_logo.png" alt="university logo">
                    </div>
                    <div class="swiper-slide">
                      <img src="./assets/images/partners/TEAM.png" alt="university logo">
                    </div>
                    <div class="swiper-slide">
                      <img src="./assets/images/partners/AKFA.png" alt="university logo">
                    </div>
                    <div class="swiper-slide">                          
                        <img src="./assets/images/partners/PEARSON.png" alt="university logo">
                    </div>
                    <div class="swiper-slide">
                      <img src="./assets/images/partners/TPU.png" alt="university logo">
                    </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>

                  </div>
            </div>
        </div>
    </section>  

    <footer>
        <div class="footer container">
            <div class="footer__logo">
                <img src="/assets/images/logo-dark.png" alt="logo">
            </div>
            <ul class="footer__menus row d-flex justify-content-between align-items-start">
                <li class="footer__menus__item col-lg-3 mb-lg-0 mb-5">
                    <p>
                        <%= HomeLanguages.footer.content[lan] %>
                    </p>
                    <h3>
                        <%= HomeLanguages.footer.contect_us[lan] %>
                    </h3>
                    <ul class="contacts__list">
                        <li class="contacts__list__item d-flex justify-content-left align-items-center">
                            <img src="./assets/images/icons/email_icon.svg" alt="message icon">
                            <span>info@muschool.uz </span>
                        </li>
                        <li class="contacts__list__item d-flex justify-content-left align-items-center">
                            <img src="./assets/images/icons/phone_icon.svg" alt="phoone icon">
                            <span>+998 71 200 0308 || 99 462 40 04</span>
                        </li>
                        <% branchs.forEach(function(item){ %>
                            <li class="contacts__list__item d-flex justify-content-left align-items-center">
                                <img src="./assets/images/icons/location_icon.svg" alt="location_icon">
                                <span>
                                    <% if(lan === "eng") { %> 
                                        <%= item.branch_name_eng %>
                                    <% } %>
                                    <% if(lan === "ru") { %> 
                                        <%= item.branch_name_ru %>
                                    <% } if(lan === "uz") {%>
                                        <%= item.branch_name_uz %>
                                    <% } %> 
                                </span>
                            </li>
                        <% }) %>
                    </ul>
                </li>
                <li class="footer__menus__item col-lg-3 col-6">
                    <h3><%= HomeLanguages.footer.home.title[lan] %></h3>
                    <ul class="contacts__list">
                        <li class="contacts__list__item">
                           <a href="#news">
                            <%= HomeLanguages.footer.home.item1[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#statistics">
                                <%= HomeLanguages.footer.home.item2[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#facilities">
                                <%= HomeLanguages.footer.home.item3[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#compus">
                                <%= HomeLanguages.footer.home.item4[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#admission">
                                <%= HomeLanguages.footer.home.item5[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#studentportfolio">
                                <%= HomeLanguages.footer.home.item6[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#whymillatumidischool">
                                <%= HomeLanguages.footer.home.item7[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#partners">
                                <%= HomeLanguages.footer.home.item8[lan] %>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer__menus__item col-lg-3 col-6">
                    <h3>
                        <%= HomeLanguages.footer.pages.title[lan] %>
                    </h3>
                    <ul class="contacts__list">
                        <li class="contacts__list__item">
                           <a href="/">
                            <%= HomeLanguages.footer.pages.item1[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="/about">
                                <%= HomeLanguages.footer.pages.item2[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="/admission">
                                <%= HomeLanguages.footer.pages.item3[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="/life">
                                <%= HomeLanguages.footer.pages.item4[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="/locaation">
                                <%= HomeLanguages.footer.pages.item5[lan] %>
                           </a>
                        </li>

                    </ul>
                </li>
                <li class="footer__menus__item col-lg-3 mt-lg-0 mt-5">
                    <h3>
                        <%= HomeLanguages.footer.follow.title[lan] %>
                    </h3>
                    <ul class="socily__list d-flex justify-content-between">
                        <li class="socily__list__item">
                            <a href="https://instagram.com/cic_school?igshid=YmMyMTA2M2Y=">
                                 <img src="./assets/images/icons/instagram.svg" alt="instagram">
                            </a>
                         </li>
                         <li class="socily__list__item">
                             <a href="https://t.me/cic_school">
                                  <img src="./assets/images/icons/telegram.svg" alt="telegram">
                             </a>
                          </li>
                          <li class="socily__list__item">
                             <a href="https://www.facebook.com/cicschooluz/">
                                  <img src="./assets/images/icons/facebook.svg" alt="facebook">
                             </a>
                          </li>
                    </ul>
                    <h3>
                        <%= HomeLanguages.footer.question.title[lan] %>    
                    </h3>
                    <ul class="quesion__form">
                        <form class="question_form">
                            <input class="input" name="name" type="text" placeholder="Name" required>
                            <input class="input" name="email" type="email" placeholder="Mail address" required>
                            <input class="input" name="message" type="text" placeholder="Type something.." required>
                            <button class="btn">
                                <img src="./assets/images/icons/send_icon.svg" alt="send icon">
                                <span>
                                    <%= HomeLanguages.footer.question.send[lan] %>    
                                </span>
                            </button>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </footer> 

</body>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="./assets/javascript/swipperSettings.js"></script>
<script src="./assets/javascript/accardionSettings.js"></script>
<script src="./assets/javascript/header.js"></script>
<script src="./assets/javascript/menu.js"></script>
<script src="./assets/javascript/cumpus.js"></script>
<script src="./assets/javascript/language.js"></script>
<script src="./assets/javascript/counter.js"></script>
<script src="./assets/javascript/question.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</html>