<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Millat Umidi</title>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../assets/style/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../assets/style/main.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel = "icon" type = "image/png" href = "../assets/images/metaicon.png">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="MUSCHOOL - Millat Umidi xalqaro maktabi">
    <meta name="title" content="MUSCHOOL - Millat Umidi xalqaro maktabi">
    <meta name="twitter:title" content="MUSCHOOL – Millat Umidi xalqaro maktabi">
    <meta name="twitter:description" content="MUSCHOOL – Millat Umidi xalqaro maktabi">
    <meta property="og:url" content="https://muschool.uz/">
    <meta property="og:site_name" content="Muschool">
    <meta property="og:locale" content="uz_Uz">
    <meta property="og:type" content="website">
    <meta property="og:title" content="MUSCHOOL – Millat Umidi xalqaro maktabi. ">
    <meta property="og:description" content="MUSCHOOL – Millat Umidi xalqaro maktabi">
    <meta name="twitter:card" content="summary">

</head>

<body>
    <div class="loader_wrapper">
        <div class="loading2">
        </div>
        <img src="../assets/images/logo_body.png" alt="logo" class="logo">
    </div>

    <nav class="">
        <div class="navbar container d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="/">
                    <img src="../assets/images/logo-dark.png" alt="logo" />
                </a>
            </div>
            <ul class="navbar__list d-flex align-items-center justify-content-between">
                <li class="navbar__list__item mx-3 ">
                    <a href="/">
                        <%= newsLanguage.navbar.navbar__list.navbar__list__item1[lan] %>
                    </a>
                </li>
                <li class="navbar__list__item mx-3">
                    <a href="/about">
                        <%= newsLanguage.navbar.navbar__list.navbar__list__item2[lan] %>
                    </a>
                </li>
                <li class="navbar__list__item mx-3">
                    <a href="/life">
                        <%= newsLanguage.navbar.navbar__list.navbar__list__item3[lan] %>
                    </a>
                </li>
                <li class="navbar__list__item mx-3">
                    <a href="/admission">
                        <%= newsLanguage.navbar.navbar__list.navbar__list__item4[lan] %>
                    </a>
                </li>
                <li class="navbar__list__item mx-3">
                    <a href="/locations">
                        <%= newsLanguage.navbar.navbar__list.navbar__list__item5[lan] %>
                    </a>
                </li>
            </ul>
            <ul class="navbar__right d-flex align-items-center">
         
                <li class="navbar__right__item">
                    <a href="tel:+998 71 200 0308">
                        <img src="/assets/images/icons/phone_icon.svg" alt="phone_icon">
                    </a>
                </li>
                <li class="navbar__right__item">
                    <select name="lan" id="lan">
                        <option value="eng"  <% if(lan === "eng") { %> selected <% } %>>Eng</option>
                        <option value="uz" <% if(lan === "uz") { %> selected <% } %>>Uz</option>
                        <option value="ru" <% if(lan === "ru") { %> selected <% } %>>Ru</option>
                    </select>
                </li>
                <li class="navbar__right__item">
                    <button class="menu_btn">
                        <div class="wrapper-menu">
                            <div class="line-menu half start"></div>
                            <div class="line-menu"></div>
                            <div class="line-menu half end"></div>
                        </div>
                    </button>
                </li>
            </ul>
        </div>

        <div class="menu__section row justify-content-between">
            <ul class="menu__section__list col-lg-3">
                <li class="menu__section__list__item ">
                    <a href="" class="d-flex justify-content-start align-items-center ">
                        <span>Home</span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
                <li class="menu__section__list__item">
                    <a href="about" class="d-flex justify-content-start align-items-center ">
                    <span>About Us</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
                <li class="menu__section__list__item">
                    <a href="/admission" class="d-flex justify-content-start align-items-center ">

                    <span>Admissions</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
                <li class="menu__section__list__item">
                    <a href="life" class="d-flex justify-content-start align-items-center ">

                    <span>Life at Millat Umidi</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
                <li class="menu__section__list__item d-flex justify-content-start align-items-center">
                    <a href="locations" class="d-flex justify-content-start align-items-center ">

                    <span>Locations</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 14.2038C-0.0976311 14.5943 -0.0976311 15.2275 0.292893 15.618C0.683418 16.0085 1.31658 16.0085 1.70711 15.618L0.292893 14.2038ZM15.911 0.999927C15.911 0.447642 15.4632 -7.31964e-05 14.911 -7.34493e-05L5.91096 -7.33228e-05C5.35868 -7.29856e-05 4.91096 0.447642 4.91096 0.999927C4.91096 1.55221 5.35868 1.99993 5.91096 1.99993L13.911 1.99993L13.911 9.99993C13.911 10.5522 14.3587 10.9999 14.911 10.9999C15.4632 10.9999 15.911 10.5522 15.911 9.99993L15.911 0.999927ZM1.70711 15.618L15.6181 1.70703L14.2039 0.29282L0.292893 14.2038L1.70711 15.618Z"
                            fill="white" />
                    </svg>
                    </a>
                </li>
            </ul>
            <div class="contacts col-lg-3">
                <div class="admission__section">
                    <h3 class="admission__section__title">
                        Admission is Open Now
                    </h3>
                    <button class="btn">
                        <img src="../assets/images/icons/apply_icon.svg" alt="icon">
                        <span>Apply</span>
                    </button>
                </div>
                <h3>Contact Us</h3>
                <ul class="contacts__list">
                    <li class="contacts__list__item d-flex justify-content-left align-items-center">
                        <img src="../assets/images/icons/email_icon.svg" alt="message icon">
                        <span>Millat Umidischool@cambridge.uz</span>
                    </li>
                    <li class="contacts__list__item d-flex justify-content-left align-items-center">
                        <img src="../assets/images/icons/phone_icon.svg" alt="phoone icon">
                        <span>+998 71 200 0308 || 99 462 40 04</span>
                    </li>
                    <% var branchs = branchs || [] %>
                    <% branchs.forEach(function(item){ %>
                      <li class="contacts__list__item d-flex justify-content-left align-items-center">
                          <img src="../assets/images/icons/location_icon.svg" alt="location_icon">
                          <span>
                            <% if(lan === "eng") { %> 
                                <%= item.branch_name_eng %>
                            <% } %>
                            <% if(lan === "ru") { %> 
                                <%= item.branch_name_ru %>
                            <% } if(lan === "uz") {%>
                                <%= item.branch_name_uz %>
                            <% } %> 
                          </span>
                      </li>
                  <% }) %>
                </ul>
            </div>
            <div class="socials__list col-lg-1">
                <h3>Contact with us</h3>
                <ul class="d-lg-block d-flex">
                    <li>
                        <a href="https://www.facebook.com/cicschooluz/">
                            <img src="../assets/images/icons/facebook.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/cic_school/?igshid=YmMyMTA2M2Y=">
                            <img src="../assets/images/icons/instagram.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/cic_school">
                            <img src="../assets/images/icons/telegram.svg" alt="icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="news-header">
        <video autoplay muted loop id="myVideo">
            <source src="../assets/videos/Pexels Videos 2002527.mp4" type="video/mp4">
        </video>

        <div class="news-header__slide container">
            <div class="swiper newsHeaderSwiper">
               
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="news-header__data row d-flex justify-content-between align-items-center">
                            <div class="news-header__data__image col-lg-6">
                                <img src="../files/<%= newItem.new_image %>" alt="new images">
                            </div>
                            <div class="news-header__data__content col-lg-6">
                                <div class="date">
                                    <h3><%= moment( newItem.createdAt).format('d'); %></h3>
                                    <span> <%= moment( newItem.createdAt).format('MMM YYYY'); %> </span>
                                </div>
                                <hr>
                                <h2 class="title">
                                    <% if(lan === "uz") {%>
                                        <%= newItem.new_title_uz %>
                                        <% } if(lan === "ru") { %>
                                        <%= newItem.new_title_ru %>
                                        <% } else {%>
                                        <%= newItem.new_title_eng %>
                                        <% } %>
                                </h2>
                                <p>
                                    <% if(lan === "uz") {%>
                                        <%= newItem.new_content_uz %>
                                        <% } if(lan === "ru") { %>
                                        <%= newItem.new_content_ru %>
                                        <% } else {%>
                                        <%= newItem.new_content_eng %>
                                        <% } %>
                                </p>
                            </div>

                        </div>
                    </div>
                    
                </div>
                <div class="swiper-button-next">
                    <span>
                        Go To Next New
                    </span>
                </div>
                <div class="swiper-button-prev">
                    <span>
                        Back
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="news container" data-aos="fade-up">
        <div class="news__title">
            <h2>
                <%= newsLanguage.last_news.news_title[lan] %>
            </h2>
        </div>
        <% var lastNews = lastNews || [] %> 
        <ul class="news__list container" >
            <div class="swiper newsSwiper">
                <div class="swiper-wrapper">
                    <% lastNews.forEach(function(element) { %>
                    <a href="/news/<%= element.new_slug %>" class="swiper-slide">
                        <div class="news__item">
                            <div class="background__image">
                                <img src="/files/<%= element.new_image %>" alt="image">
                            </div>
                            <div class="news__data">
                                <h3 class="title">
                                    <% if(lan === "uz") {%>
                                    <%= element.new_title_uz %>
                                    <% } if(lan === "ru") { %>
                                    <%= element.new_title_ru %>
                                    <% } else {%>
                                    <%= element.new_title_eng %>
                                    <% } %>
                                </h3>
                                <hr class="line">
                                </hr>
                                <p class="subtitle">
                                    <% if(lan === "uz") {%>
                                        <%= element.new_subtitle_uz %>
                                        <% } if(lan == "ru") { %>
                                        <%= element.new_subtitle_ru %>
                                        <% } else {%>
                                        <%= element.new_subtitle_eng %>
                                    <% } %>
                                </p>
                            </div>
                            <span class="created__data">
                                <h4><%= moment( element.createdAt).format('d'); %></h4>
                                <p> <%= moment( element.createdAt).format('MMM YYYY'); %> </p>
                            </span>
                        </div>
                    </a>
                    <% }); %>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </ul>
    </section>  
    
    <% var allNews = allNews || [] %> 
    <section class="all_news container" data-aos="fade-up">
        <h2 class="all_news__title">
            <%= newsLanguage.all_news.news_title[lan] %>
        </h2>
        <ul class="all_news__list ">
            <% allNews.forEach(function(news){ %>
            <li class="all_news__list__item d-lg-flex align-items-center">
                <div class="all_news__list__item__date d-flex">
                    <div class="time">
                        <h3><%= moment( news.createdAt).format('d'); %></h3>
                        <span> <%= moment( news.createdAt).format('MMM YYYY'); %> </span>
                    </div>
                    <div class="all_news__list__item__image">
                        <img src="../files/<%= news.new_image %>" alt="news image">
                    </div>
                </div>
                <div class="all_news__list__item__content d-flex align-items-center">
                    <div class="all_news__list__item__content__text">
                        <h2>
                            <% if(lan === "uz") {%>
                                <%= news.new_title_uz %>
                                <% } if(lan === "ru") { %>
                                <%= news.new_title_ru %>
                                <% } else {%>
                                <%= news.new_title_eng %>
                            <% } %>
                        </h2>
                        <p>
                            <% if(lan === "uz") {%>
                                <%= news.new_subtitle_uz %>
                                <% } if(lan === "ru") { %>
                                <%= news.new_subtitle_ru %>
                                <% } else {%>
                                <%= news.new_subtitle_eng %>
                            <% } %>
                        </p>
                        <a href="/news/<%= news.new_slug %>" class="read_more d-flex align-content-center">
                            <span>
                                <%= newsLanguage.reed_more[lan] %>
                            </span>
                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 6.98581C1.43988 6.98581 0.985815 7.43988 0.985815 8C0.985815 8.56012 1.43988 9.01419 2 9.01419V6.98581ZM18.7171 8.71714C19.1132 8.32107 19.1132 7.67893 18.7171 7.28286L12.2629 0.828629C11.8668 0.432565 11.2247 0.432565 10.8286 0.828629C10.4326 1.22469 10.4326 1.86684 10.8286 2.2629L16.5657 8L10.8286 13.7371C10.4326 14.1332 10.4326 14.7753 10.8286 15.1714C11.2247 15.5674 11.8668 15.5674 12.2629 15.1714L18.7171 8.71714ZM2 9.01419H18V6.98581H2V9.01419Z" fill="#3B80EA"/>
                                </svg>
                                
                        </a>
                    </div>
                </div>
            </li>
            <% }) %> 

        </ul>
    </section>

    <footer>
        <div class="footer container">
            <div class="footer__logo">
                <img src="/assets/images/logo-dark.png" alt="logo">
            </div>
            <ul class="footer__menus row d-flex justify-content-between align-items-start">
                <li class="footer__menus__item col-lg-3 mb-lg-0 mb-5">
                    <p>
                        <%= newsLanguage.footer.content[lan] %>
                    </p>
                    <h3>
                        <%= newsLanguage.footer.contect_us[lan] %>
                    </h3>
                    <ul class="contacts__list">
                        <li class="contacts__list__item d-flex justify-content-left align-items-center">
                            <img src="../assets/images/icons/email_icon.svg" alt="message icon">
                            <span>info@muschool.uz </span>
                        </li>
                        <li class="contacts__list__item d-flex justify-content-left align-items-center">
                            <img src="../assets/images/icons/phone_icon.svg" alt="phoone icon">
                            <span>+998 71 200 0308 || 99 462 40 04</span>
                        </li>
                        <% branchs.forEach(function(item){ %>
                            <li class="contacts__list__item d-flex justify-content-left align-items-center">
                                <img src="../assets/images/icons/location_icon.svg" alt="location_icon">
                                <span>
                                    <% if(lan === "eng") { %> 
                                        <%= item.branch_name_eng %>
                                    <% } %>
                                    <% if(lan === "ru") { %> 
                                        <%= item.branch_name_ru %>
                                    <% } if(lan === "uz") {%>
                                        <%= item.branch_name_uz %>
                                    <% } %> 
                                </span>
                            </li>
                        <% }) %>
                    </ul>
                </li>
                <li class="footer__menus__item col-lg-3 col-6">
                    <h3><%= newsLanguage.footer.home.title[lan] %></h3>
                    <ul class="contacts__list">
                        <li class="contacts__list__item">
                           <a href="#news">
                            <%= newsLanguage.footer.home.item1[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#statistics">
                                <%= newsLanguage.footer.home.item2[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#facilities">
                                <%= newsLanguage.footer.home.item3[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#compus">
                                <%= newsLanguage.footer.home.item4[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#admission">
                                <%= newsLanguage.footer.home.item5[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#studentportfolio">
                                <%= newsLanguage.footer.home.item6[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#whymillatumidischool">
                                <%= newsLanguage.footer.home.item7[lan] %>
                            </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="#partners">
                                <%= newsLanguage.footer.home.item8[lan] %>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer__menus__item col-lg-3 col-6">
                    <h3>
                        <%= newsLanguage.footer.pages.title[lan] %>
                    </h3>
                    <ul class="contacts__list">
                        <li class="contacts__list__item">
                           <a href="/">
                            <%= newsLanguage.footer.pages.item1[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="/about">
                                <%= newsLanguage.footer.pages.item2[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="/admission">
                                <%= newsLanguage.footer.pages.item3[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="/life">
                                <%= newsLanguage.footer.pages.item4[lan] %>
                           </a>
                        </li>
                        <li class="contacts__list__item">
                            <a href="/locaation">
                                <%= newsLanguage.footer.pages.item5[lan] %>
                           </a>
                        </li>

                    </ul>
                </li>
                <li class="footer__menus__item col-lg-3 mt-lg-0 mt-5">
                    <h3>
                        <%= newsLanguage.footer.follow.title[lan] %>
                    </h3>
                    <ul class="socily__list d-flex justify-content-between">
                        <li class="socily__list__item">
                            <a href="https://instagram.com/cic_school?igshid=YmMyMTA2M2Y=">
                                 <img src="../assets/images/icons/instagram.svg" alt="instagram">
                            </a>
                         </li>
                         <li class="socily__list__item">
                             <a href="https://t.me/cic_school">
                                  <img src="../assets/images/icons/telegram.svg" alt="telegram">
                             </a>
                          </li>
                          <li class="socily__list__item">
                             <a href="https://www.facebook.com/cicschooluz/">
                                  <img src="../assets/images/icons/facebook.svg" alt="facebook">
                             </a>
                          </li>
                    </ul>
                    <h3>
                        <%= newsLanguage.footer.question.title[lan] %>    
                    </h3>
                    <ul class="quesion__form">
                        <form class="question_form">
                            <input class="input" name="name" type="text" placeholder="Name">
                            <input class="input" name="email" type="email" placeholder="Mail address">
                            <input class="input" name="message" type="text" placeholder="Type something..">
                            <button class="btn">
                                <img src="../assets/images/icons/send_icon.svg" alt="send icon">
                                <span>
                                    <%= newsLanguage.footer.question.send[lan] %>    
                                </span>
                            </button>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </footer> 

</body>
<!-- Swiper JS -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../assets/javascript/swipperSettings.js"></script>
<script src="../assets/javascript/accardionSettings.js"></script>
<script src="../assets/javascript/header.js"></script>
<script src="../assets/javascript/menu.js"></script>
<script src="../assets/javascript/language.js"></script>

<script src="../assets/javascript/question.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>


</html>